@charset "utf-8";

.main {
    height: 2000px;
}
.startSNS {
    display: block;
    height: 3%;
}
.SNS {
    display: block;
    height: 94%;
}

.block_youtube {
    display: block;
    background-color: red;
    height: 50%;
}

.YouTube {
    
}

.img_youtube {
    display: block;
    margin-left: 85%;
    padding-right: 10px;
    padding-top: 10px;
    width: 20%;
    background-color: aquamarine;
}

.block_youtube iframe{
    display: block;
    padding: 3%;
    height: 85%;
    width: 90%;
}

.block1 {
    display: block;
    position: relative;
    height: 50%;
}


.block1-1 {
    float: left;
    background-color: aqua;
    margin: auto;
    width: 50%;
    height: 100%;
    left: 0;
}

.img_twitter {
    display: block;
    margin-left: 85%;
    padding-right: 10px;
    padding-top: 10px;
    width: 20%;
    background-color: aquamarine;
}

.twitter-timeline {
    padding: 3%;
    width: 75%;
    height: 85%;
}

.block1-2 {
    float: right;
    margin: auto;
    width: 50%;
    height: 100%;
    right: 0;
}

.img_discord {
    display: block;
    margin-left: 85%;
    padding-right: 10px;
    padding-top: 10px;
    width: 20%;
    background-color: aquamarine;
}

.block_discord {
    display: block;
    background-color: purple;
    height: 50%;
}

.block_boshuu {
    display: block;
    background-color: lime;
    height: 50%;
}

.Twitter {
    display: block;
}

.Discord {
    display: block;
}

.boshuu {
    display: block;
}

.endSNS {
    display: block;
    height: 3%;
    background-color: gray;
}